---
import PostCard from "./PostCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  featuredPost?: CollectionEntry<"posts">;
}
const { featuredPost } = Astro.props;
---

<section class="hero stripe-bg">
  <div class="hero__text">
    <p class="hero__eyebrow">ことのは — leaves of words</p>
    <h1 class="hero__heading">
      気になった技術のこと<br />
    </h1>
    <h2 class="hero_heading">
      <em> Let's Learn Together </em>
    </h2>
    <p class="hero__sub">
      ITのあれこれを付箋のように忘備録として残しています<br />
      Writing about random IT stuff to record like a sticky note.
    </p>
  </div>

  {
    featuredPost && (
      <div class="hero__featured">
        <PostCard
          id={featuredPost.id}
          title={featuredPost.data.title}
          titleEn={featuredPost.data.titleEn}
          date={featuredPost.data.date}
          tags={featuredPost.data.tags}
          hero={featuredPost.data.hero}
        />
      </div>
    )
  }
</section>

<style>
  .hero {
    padding: 3rem 0;
  }
  em {
    font-style: italic;
    color: var(--accent-orange);
  }
</style>
